@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100svw;
  height: 100svh;

  &.dektop {
    background-image: url("../image/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.mobile {
    background-color: transparent;
  }
}

#iosScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../image/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

#root {
  width: 100%;
  min-height: 100svh;
  color: #000;
  background: #00000090;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
}

::selection {
  background: #0dd70d;
  color: white;
}

a {
  text-decoration: none;
}

img::selection,
svg::selection,
iframe::selection {
  background: transparent;
}
